# .github/workflows/build.yml

name: Build Electron App

# Define cuándo se ejecutará este workflow
on:
  push:
    branches:
      - main  # o master, o la rama principal que uses

jobs:
# ... (resto del archivo)